body {
    padding-top: 5rem;
}

button {
    width: 100px;
    height: 40px;
    border: 1px ;
    border-radius: 5px;
    background-color: rgb(25, 163, 228);
    color: azure;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
    max-width: 350px;
}

 
label {
font-weight: bold; 
}

#labels{
    font-weight: bold; 
    color: black;
    
}

 

label::after {
    content: " (Required)";
    color: rgb(218, 6, 6);
}