

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 

    gap:3px;
    max-width: 500px;
    padding: 10px;
    border: 1px;
    border-radius: 5px; 
    
    background-color: lightseagreen;
    select{
      border: none;
  }
    div {
      display: flex;
      flex-direction: column;
    }
}