
<nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">
        <h4>Realtime<span>AWS</span></h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li class="active home"><a class="nav-link active" href="{{ url_for('home') }}">Home</a></li>
        <li class="dashboard"><a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li class="navbar-dropdown categories">
          <a href="#" class="dropdown-toggler" data-dropdown="my-dropdown-id">
            Categories <svg width="24px" height="24px" viewBox="0 0 24 24"> <rect  x="0" fill="none" width="24" height="24"/><g><path  d="M7 10l5 5 5-5"/></g></svg>
          </a>
          <ul class="dropdown" id="my-dropdown-id">
            <li><a href="#">Actions</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="separator"></li>
            <li><a href="#">Seprated link</a></li>
            <li class="separator"></li>
            <li><a href="#">One more seprated link.</a></li>
          </ul>
        </li>
        <li class="navbar-dropdown blog">
          <a href="#" class="dropdown-toggler" data-dropdown="blog">
            Blog <svg width="24px" height="24px" viewBox="0 0 24 24"> <rect  x="0" fill="none" width="24" height="24"/><g><path  d="M7 10l5 5 5-5"/></g></svg>
          </a>
          <ul class="dropdown" id="blog">
            <li><a href="#">Some category</a></li>
            <li><a href="#">Some another category</a></li>
            <li class="separator"></li>
            <li><a href="#">Seprated link</a></li>
            <li class="separator"></li>
            <li><a href="#">One more seprated link.</a></li>
          </ul>
        </li>
        <li class="about"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
        <li class="contact"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a></li>
        <li><a href="#">Signin</a></li>
      </ul>
    </div>
  </div>
</nav>